@import "global";
@import "player";

header {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: #f9564f;
  }
}

.greet {
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
}

#lblGreeting {
  font-size: 1.2rem;
  margin-left: 1.5rem;
}

.main {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.radioGrid-container {
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 6rem);
  grid-gap: 1rem;
  grid-row-end: auto;
  overflow: hidden;
  justify-content: center;
}

.radioGrid-container > div {
  height: 6rem;
  background-color: hsl(214, 16%, 64%);
  text-align: center;
  font-size: 30px;
  border-radius: 0.3rem;
  overflow: hidden;
  img {
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.item1 {
  grid-column: 1;
}

.radioPlayer {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.playerContainer {
  width: 25rem;
  height: 4.5rem;
  border-radius: 10rem;
  background-color: #131313;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#player {
  width: 10%;
  height: 100%;
}

.imagediv {
  height: 100%;
  width: 20%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.containerImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: hsl(214, 16%, 64%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.nowPlaying {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding-left: 1rem;
}

.titleTrack {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p {
    font: 400;
  }
}

.title {
  line-height: 24px;
}
.slogan {
  font-size: 1rem;
  line-height: 24px;
}

.bottomNav {
  width: 100vw;
  height: 16vh;
}

.plyr {
  height: 100%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 0px;
}

.plyr--audio .plyr__controls {
  margin: none;
  padding: none;
  width: auto;
  height: 100%;
  background: #000000;
  background: var(--plyr-audio-controls-background, #00000000);
  color: #ffffff;
  color: var(--plyr-audio-control-color, #ffffff);
}

.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded="true"] {
  background: #000000;
  background: var(
    --plyr-audio-control-background-hover,
    var(--plyr-color-main, var(--plyr-color-main, #00000000))
  );
  color: #fff;
  color: var(--plyr-audio-control-color-hover, #fff);
}

.plyr--full-ui input[type="range"] {
  color: #0099ff;
  color: var(
    --plyr-range-fill-background,
    var(--plyr-color-main, var(--plyr-color-main, #0099ff))
  );
}
