@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

@font-face {
  font-family: "Vision";
  src: url(../fonts/vision-webfont.woff) format("woff2");
}

html {
  size: 62.5%;
  background-color: #191b1f;
  color: #95a1b2;
  font-family: "Vision";
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#playback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #95a1b2;
  pointer-events: initial;
  height: 100%;
  width: 100%;
  text-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
}

.fa-lg {
  font-size: 2rem;
}

/*

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(1);
    text-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  }
  50% {
    -webkit-transform: scale(1.1);
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
  100% {
    -webkit-transform: scale(1);
    text-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
    text-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: scale(1.1);
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: scale(1);
    text-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  }
}
.beat {
  -webkit-animation: beat 0.8s ease 0s infinite normal;
  animation: beat 0.8s ease 0s infinite normal;
}

*/
header {
  width: 100vw;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: #f9564f;
}

.greet {
  width: 100vw;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lblGreeting {
  font-size: 1.2rem;
  margin-left: 1.5rem;
}

.main {
  width: 100vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.radioGrid-container {
  width: 95%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (6rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 6rem);
  grid-gap: 1rem;
  grid-row-end: auto;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radioGrid-container > div {
  height: 6rem;
  background-color: #95a1b2;
  text-align: center;
  font-size: 30px;
  border-radius: 0.3rem;
  overflow: hidden;
}

.radioGrid-container > div img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item1 {
  -ms-grid-column: 1;
  grid-column: 1;
}

.radioPlayer {
  width: 100vw;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.playerContainer {
  width: 25rem;
  height: 4.5rem;
  border-radius: 10rem;
  background-color: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player {
  width: 10%;
  height: 100%;
}

.imagediv {
  height: 100%;
  width: 20%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerImg {
  width: 80%;
  height: 80%;
  border-radius: 100%;
  background-color: #95a1b2;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerImg img {
  height: 60%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.nowPlaying {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  padding-left: 1rem;
}

.titleTrack {
  width: 100%;
  height: 100%;
  color: white;
}

.title {
  line-height: 24px;
}

.slogan {
  font-size: 1rem;
  line-height: 24px;
}

.bottomNav {
  width: 100vw;
  height: 16vh;
}

.plyr {
  height: 100%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 0px;
}

.plyr--audio .plyr__controls {
  margin: none;
  padding: none;
  width: auto;
  height: 100%;
  background: #000000;
  background: var(--plyr-audio-controls-background, #00000000);
  color: #ffffff;
  color: var(--plyr-audio-control-color, #ffffff);
}

.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded="true"] {
  background: #000000;
  background: var(--plyr-audio-control-background-hover, var(--plyr-color-main, var(--plyr-color-main, #00000000)));
  color: #fff;
  color: var(--plyr-audio-control-color-hover, #fff);
}

.plyr--full-ui input[type="range"] {
  color: #0099ff;
  color: var(--plyr-range-fill-background, var(--plyr-color-main, var(--plyr-color-main, #0099ff)));
}
/*# sourceMappingURL=style.css.map */